* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

body, html {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500; }
  body .pointer, html .pointer {
    cursor: pointer; }
  body .below, html .below {
    z-index: 1; }
  body .active, html .active {
    border-bottom: 3px solid black;
    padding: 10px 20px;
    display: inline-block; }
  body .container, html .container {
    width: 630px;
    margin: 0 auto; }
    body .container h2, html .container h2 {
      font-weight: 500; }
    body .container .map-container, html .container .map-container {
      position: relative; }
      body .container .map-container img, html .container .map-container img {
        position: relative;
        z-index: 2; }
      body .container .map-container #British-Columbia, html .container .map-container #British-Columbia {
        background: url("../images/bc.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -168px;
        top: 211px;
        position: absolute;
        display: none; }
      body .container .map-container #Yukon, html .container .map-container #Yukon {
        background: url("../images/yukon.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -160px;
        top: 119px;
        position: absolute;
        display: none; }
      body .container .map-container #Manitoba, html .container .map-container #Manitoba {
        background: url("../images/manitoba.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -316px;
        top: 266px;
        position: absolute;
        display: none; }
      body .container .map-container #New-Brunswick, html .container .map-container #New-Brunswick {
        background: url("../images/new_brunswick.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -510px;
        top: 358px;
        position: absolute;
        display: none; }
      body .container .map-container #Newfoundland-and-Labrador, html .container .map-container #Newfoundland-and-Labrador {
        background: url("../images/newfoundland_labrador.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -497px;
        top: 248px;
        position: absolute;
        display: none; }
      body .container .map-container #Nova-Scotia, html .container .map-container #Nova-Scotia {
        background: url("../images/nova_scotia.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -531px;
        top: 358px;
        position: absolute;
        display: none; }
      body .container .map-container #Nunavut, html .container .map-container #Nunavut {
        background: url("../images/nunavut.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -266px;
        top: 5px;
        position: absolute;
        display: none; }
      body .container .map-container #Northwest-Territories, html .container .map-container #Northwest-Territories {
        background: url("../images/nwt.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -211px;
        top: 131px;
        position: absolute;
        display: none; }
      body .container .map-container #Ontario, html .container .map-container #Ontario {
        background: url("../images/ontario.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -351px;
        top: 300px;
        position: absolute;
        display: none; }
      body .container .map-container #Prince-Edward-Island, html .container .map-container #Prince-Edward-Island {
        background: url("../images/pei.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -536px;
        top: 366px;
        position: absolute;
        display: none; }
      body .container .map-container #Quebec, html .container .map-container #Quebec {
        background: url("../images/quebec.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -432px;
        top: 238px;
        position: absolute;
        display: none; }
      body .container .map-container #Saskatchewan, html .container .map-container #Saskatchewan {
        background: url("../images/sask.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -265px;
        top: 260px;
        position: absolute;
        display: none; }
      body .container .map-container #Alberta, html .container .map-container #Alberta {
        background: url("../images/alberta.png") no-repeat;
        width: 100%;
        height: 100%;
        right: -223px;
        top: 246px;
        position: absolute;
        display: none; }
    body .container .part-two, html .container .part-two {
      position: relative; }
      body .container .part-two .form, html .container .part-two .form {
        width: 100%;
        height: 0px;
        background-color: #fff;
        overflow: hidden; }
        body .container .part-two .form textarea, html .container .part-two .form textarea {
          min-height: 100px; }
        body .container .part-two .form input, body .container .part-two .form textarea, html .container .part-two .form input, html .container .part-two .form textarea {
          padding: 10px;
          margin-bottom: 15px;
          background-color: #D0EBFD;
          border-radius: 5px;
          border: 0;
          max-width: 100%;
          -webkit-box-shadow: inset 0px 3px 5px 0px #cadae5;
          -moz-box-shadow: inset 0px 3px 5px 0px #cadae5;
          box-shadow: inset 0px 3px 5px 0px #cadae5;
          font-family: "Quicksand", sans-serif;
          font-weight: 500;
          font-size: 16px; }
        body .container .part-two .form input:focus, body .container .part-two .form textarea:focus, html .container .part-two .form input:focus, html .container .part-two .form textarea:focus {
          outline: none;
          -webkit-box-shadow: inset 0px 4px 5px 0px #b3c8d6;
          -moz-box-shadow: inset 0px 4px 5px 0px #b3c8d6;
          box-shadow: inset 0px 4px 5px 0px #b3c8d6; }
        body .container .part-two .form p, html .container .part-two .form p {
          font-weight: 600;
          font-size: 14px;
          margin-bottom: 5px; }
        body .container .part-two .form .spacer, html .container .part-two .form .spacer {
          width: 6%;
          display: inline-block;
          height: 10px; }
        body .container .part-two .form .clear, html .container .part-two .form .clear {
          display: flex;
          display: -webkit-flex;
          float: none; }
        body .container .part-two .form div, html .container .part-two .form div {
          display: inline-block;
          width: 47%;
          float: left; }
          body .container .part-two .form div input, body .container .part-two .form div textarea, html .container .part-two .form div input, html .container .part-two .form div textarea {
            width: 100%; }
          body .container .part-two .form div input[type=email], html .container .part-two .form div input[type=email] {
            padding-right: 10px; }
          body .container .part-two .form div input[type=text], html .container .part-two .form div input[type=text] {
            padding-left: 10px; }
        body .container .part-two .form .input-long, html .container .part-two .form .input-long {
          display: block;
          width: 100%;
          transition: none; }
        body .container .part-two .form button, html .container .part-two .form button {
          background-color: #d74e44;
          -webkit-box-shadow: 0px 3px 0px 0px #9b3135;
          -moz-box-shadow: 0px 3px 0px 0px #9b3135;
          box-shadow: 0px 3px 0px 0px #9b3135;
          font-family: "Quicksand", sans-serif;
          font-weight: 500;
          font-size: 20px;
          border: 0;
          border-radius: 5px;
          padding: 10px 40px;
          color: white;
          margin-top: 20px;
          float: right; }
        body .container .part-two .form button:hover, html .container .part-two .form button:hover {
          background-color: #df3e45; }
        body .container .part-two .form button:focus, html .container .part-two .form button:focus {
          outline: none; }
        body .container .part-two .form .sent-msg, html .container .part-two .form .sent-msg {
          margin-top: 20px;
          line-height: 26px;
          overflow: hidden;
          opacity: 0;
          color: #2a9d43; }

.show {
  display: block !important; }

/*# sourceMappingURL=master.css.map */
